<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/7c40cb07-a5e5-470f-94b5-a00a7b3a860f/resourceGroups/AzSpRG_Practice_Trainees_Prakhar_01_Op/providers/Microsoft.ContainerRegistry/registries/OnlineShoppingp98</ResourceId>
    <ResourceName>OnlineShoppingp98</ResourceName>
    <ResourceGroup>AzSpRG_Practice_Trainees_Prakhar_01_Op</ResourceGroup>
    <Subscription>Microsoft Azure Sponsorship 2020</Subscription>
    <RegistryUrl>https://onlineshoppingp98.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b51defcb-c16d-433e-99fa-7a1c1062ec11</ProjectGuid>
  </PropertyGroup>
</Project>