.zoom
  {
    transform: scale(0.95); 
  }
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.12); 
  }
  img
  {
    border: 1px solid black;
      margin-bottom: 10px;
  }